.top-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: darkblue;
    box-shadow: 0 2px 5px darkgrey;
}

.topdiv {
    height: 100%;
    line-height: 60px;
    font-size: 0.8em;
    text-align: center;
}

#cc {
    font-size: 20px;
}

.select {
    background-color: #f1f1f1;
    width: calc(16% + 16px);
    min-width: 208px;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    border: 0;
    font-family: 'Nunito', sans-serif;
}
